In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv(r"E:\machine learning excercise\pista\جلسه 20\Ames_without_null.csv")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2925 non-null   int64
 1   MS Zoning        2925 non-null   object
 2   Lot Frontage     2925 non-null   float64
 3   Lot Area         2925 non-null   int64
 4   Street           2925 non-null   object
 5   Lot Shape        2925 non-null   object
 6   Land Contour     2925 non-null   object
 7   Utilities        2925 non-null   object
 8   Lot Config       2925 non-null   object
 9   Land Slope       2925 non-null   object
 10  Neighborhood     2925 non-null   object
 11  Condition 1      2925 non-null   object
 12  Condition 2      2925 non-null   object
 13  Bldg Type        2925 non-null   object
 14  House Style      2925 non-null   object
 15  Overall Qual     2925 non-null   int64
 16  Overall Cond     2925 non-null   int64
 17  Year Built       2925 non-null   int64
 18  Year Remod/Add   2925 non-null   int64
 19  Roof Style       2925 non-null   object
 20  Roof Matl        2925 non-null   object
 21  Exterior 1st     2925 non-null   object
 22  Exterior 2nd     2925 non-null   object
 23  Mas Vnr Type     1152 non-null   object
 24  Mas Vnr Area     2925 non-null   float64
 25  Exter Qual       2925 non-null   object
 26  Exter Cond       2925 non-null   object
 27  Foundation       2925 non-null   object
 28  Bsmt Qual        2845 non-null   object
 29  Bsmt Cond        2845 non-null   object
 30  Bsmt Exposure    2842 non-null   object
 31  BsmtFin Type 1   2845 non-null   object
 32  BsmtFin SF 1     2925 non-null   float64
 33  BsmtFin Type 2   2844 non-null   object
 34  BsmtFin SF 2     2925 non-null   float64
 35  Bsmt Unf SF      2925 non-null   float64
 36  Total Bsmt SF    2925 non-null   float64
 37  Heating          2925 non-null   object
 38  Heating QC       2925 non-null   object
 39  Central Air      2925 non-null   object
 40  Electrical       2925 non-null   object
 41  1st Flr SF       2925 non-null   int64
 42  2nd Flr SF       2925 non-null   int64
 43  Low Qual Fin SF  2925 non-null   int64
 44  Gr Liv Area      2925 non-null   int64
 45  Bsmt Full Bath   2925 non-null   float64
 46  Bsmt Half Bath   2925 non-null   float64
 47  Full Bath        2925 non-null   int64
 48  Half Bath        2925 non-null   int64
 49  Bedroom AbvGr    2925 non-null   int64
 50  Kitchen AbvGr    2925 non-null   int64
 51  Kitchen Qual     2925 non-null   object
 52  TotRms AbvGrd    2925 non-null   int64
 53  Functional       2925 non-null   object
 54  Fireplaces       2925 non-null   int64
 55  Fireplace Qu     1505 non-null   object
 56  Garage Type      2768 non-null   object
 57  Garage Yr Blt    2925 non-null   float64
 58  Garage Finish    2767 non-null   object
 59  Garage Cars      2925 non-null   float64
 60  Garage Area      2925 non-null   float64
 61  Garage Qual      2767 non-null   object
 62  Garage Cond      2767 non-null   object
 63  Paved Drive      2925 non-null   object
 64  Wood Deck SF     2925 non-null   int64
 65  Open Porch SF    2925 non-null   int64
 66  Enclosed Porch   2925 non-null   int64
 67  3Ssn Porch       2925 non-null   int64
 68  Screen Porch     2925 non-null   int64
 69  Pool Area        2925 non-null   int64
 70  Misc Val         2925 non-null   int64
 71  Mo Sold          2925 non-null   int64
 72  Yr Sold          2925 non-null   int64
 73  Sale Type        2925 non-null   object
 74  Sale Condition   2925 non-null   object
 75  SalePrice        2925 non-null   int64
dtypes: float64(11), int64(26), object(39)
memory usage: 1.7+ MB

In [16]:
df['MS SubClass'] = df['MS SubClass'].apply(str)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2925 non-null   object
 1   MS Zoning        2925 non-null   object
 2   Lot Frontage     2925 non-null   float64
 3   Lot Area         2925 non-null   int64
 4   Street           2925 non-null   object
 5   Lot Shape        2925 non-null   object
 6   Land Contour     2925 non-null   object
 7   Utilities        2925 non-null   object
 8   Lot Config       2925 non-null   object
 9   Land Slope       2925 non-null   object
 10  Neighborhood     2925 non-null   object
 11  Condition 1      2925 non-null   object
 12  Condition 2      2925 non-null   object
 13  Bldg Type        2925 non-null   object
 14  House Style      2925 non-null   object
 15  Overall Qual     2925 non-null   int64
 16  Overall Cond     2925 non-null   int64
 17  Year Built       2925 non-null   int64
 18  Year Remod/Add   2925 non-null   int64
 19  Roof Style       2925 non-null   object
 20  Roof Matl        2925 non-null   object
 21  Exterior 1st     2925 non-null   object
 22  Exterior 2nd     2925 non-null   object
 23  Mas Vnr Type     1152 non-null   object
 24  Mas Vnr Area     2925 non-null   float64
 25  Exter Qual       2925 non-null   object
 26  Exter Cond       2925 non-null   object
 27  Foundation       2925 non-null   object
 28  Bsmt Qual        2845 non-null   object
 29  Bsmt Cond        2845 non-null   object
 30  Bsmt Exposure    2842 non-null   object
 31  BsmtFin Type 1   2845 non-null   object
 32  BsmtFin SF 1     2925 non-null   float64
 33  BsmtFin Type 2   2844 non-null   object
 34  BsmtFin SF 2     2925 non-null   float64
 35  Bsmt Unf SF      2925 non-null   float64
 36  Total Bsmt SF    2925 non-null   float64
 37  Heating          2925 non-null   object
 38  Heating QC       2925 non-null   object
 39  Central Air      2925 non-null   object
 40  Electrical       2925 non-null   object
 41  1st Flr SF       2925 non-null   int64
 42  2nd Flr SF       2925 non-null   int64
 43  Low Qual Fin SF  2925 non-null   int64
 44  Gr Liv Area      2925 non-null   int64
 45  Bsmt Full Bath   2925 non-null   float64
 46  Bsmt Half Bath   2925 non-null   float64
 47  Full Bath        2925 non-null   int64
 48  Half Bath        2925 non-null   int64
 49  Bedroom AbvGr    2925 non-null   int64
 50  Kitchen AbvGr    2925 non-null   int64
 51  Kitchen Qual     2925 non-null   object
 52  TotRms AbvGrd    2925 non-null   int64
 53  Functional       2925 non-null   object
 54  Fireplaces       2925 non-null   int64
 55  Fireplace Qu     1505 non-null   object
 56  Garage Type      2768 non-null   object
 57  Garage Yr Blt    2925 non-null   float64
 58  Garage Finish    2767 non-null   object
 59  Garage Cars      2925 non-null   float64
 60  Garage Area      2925 non-null   float64
 61  Garage Qual      2767 non-null   object
 62  Garage Cond      2767 non-null   object
 63  Paved Drive      2925 non-null   object
 64  Wood Deck SF     2925 non-null   int64
 65  Open Porch SF    2925 non-null   int64
 66  Enclosed Porch   2925 non-null   int64
 67  3Ssn Porch       2925 non-null   int64
 68  Screen Porch     2925 non-null   int64
 69  Pool Area        2925 non-null   int64
 70  Misc Val         2925 non-null   int64
 71  Mo Sold          2925 non-null   int64
 72  Yr Sold          2925 non-null   int64
 73  Sale Type        2925 non-null   object
 74  Sale Condition   2925 non-null   object
 75  SalePrice        2925 non-null   int64
dtypes: float64(11), int64(25), object(40)
memory usage: 1.7+ MB

In [18]:
my_object_df = df.select_dtypes(include='object')
my_numeric_df = df.select_dtypes(exclude='object')

In [21]:
df_object_dummies = pd.get_dummies(my_object_df,drop_first=True,dtype=int)

In [28]:
df_object_dummies

,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2921,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2923,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2924,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [23]:
df.shape

(2925, 76)

In [29]:
final_df = pd.concat([my_numeric_df,df_object_dummies],axis=1)

In [30]:
final_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2921,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2922,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2923,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2924,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0

In [31]:
final_df.to_csv('Ames_all_numeric_dtype.csv', index=False)